button {
  margin: 3px;
  padding: 5px;
  border: 1px solid #0F0;
  background: #000;
  color: #0F0;
  cursor: pointer;
}

button:hover {
  background: #0F5;
  color: #000;
}

#game h2 {
  color: #0F0;
  white-space: pre-line;
}
