body {
  margin: 0;
  background: black;
  color: white;
  font-family: Arial, sans-serif;
}

#app {
  padding: 40px;
}

.question {
  margin-top: 60px;
}

button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  background: #222;
  color: white;
  border: 1px solid #555;
  cursor: pointer;
}

button:hover {
  background: crimson;
}
